body{
    margin:0px;
    padding: 0px;
    font-family: poppins;
    background-color: rgba(133, 104, 104, 0.03);
}
*{
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.05);
    background-color: white;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}
.logo img{
    height: 100px;
}
nav .menu{
    display: flex;
}
nav .menu li a{
    height: 40px;
    line-height: 40px;
    margin: 0px;
    padding: 0px 22px;
    display: flex;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 500;
    color: rgb(156, 145, 143);
    letter-spacing: 1px;
}
.search{
    width: 200px;
    height: 40px;
    background-color: rgb(248, 248, 248);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 0px 20px;
}
.search input{
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    background-color: transparent;
}
.search i{
    color: rgb(179, 72, 72);
}
nav .menu li a:hover{
    background-color: rgb(59, 35, 35);
    color: rgb(255, 255, 255);
    box-shadow: 5px 10px 30px rgb(167, 69, 69);
    transition: all ease 0.2s;
}
.cs-hidden {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}